<div id="hide1">
    <div id="sideadv" class="bannerRezept">
        <div id="sale"class ="big-text animate tada">
          <u>Lust glutenfrei zu kochen?</u>
          <br>
          <a id="buyLink" href="#">Schau vorbei!</a>          
        </div>
        <button id="b1" class="button-exit"><i class="fas fa-times" style="color:white"></i>
    </div>
  </div>